@{
    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Cadastro";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Cadastro de cliente")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="my-10 px-5 checkout-steps-form-style-1">
    <form method="post" asp-controller="Client" asp-action="CadastrarCliente" class="container mx-auto space-y-5">
        <input type="hidden" name="retorno" value="false">
        <div class="collapse bg-white border border-gray-300 !rounded-[5px]">
            <input autocomplete="off" type="radio" name="accordion" checked />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Seus dados pessoais
            </div>
            <div class="collapse-content">
                @(await Component.InvokeAsync<InformacoesViewComponent>())
            </div>
        </div>

        <div class="collapse bg-white border border-gray-300 !rounded-[5px]">
            <input autocomplete="off" type="radio" name="accordion" />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Endereço Principal
            </div>
            <div class="collapse-content">
                <div>
                    <input autocomplete="off" type="hidden" name="adresses[0].principal" value="true">
                    <input autocomplete="off" type="hidden" name="adresses[0].cobranca" value="false">
                    <input autocomplete="off" type="hidden" name="adresses[0].tipoEndereco" value="-">

                    @(await Component.InvokeAsync<EnderecoViewComponent>(new ViewEndereco(0)))

                    <div class="flex flex-wrap ">
                        <div class="md:w-full px-4">
                            <label class="flex gap-2 items-center mt-4">
                                <input autocomplete="off" type="checkbox" class="accent-yellow-400 w-[17px] h-[17px]" id="endereco-cobranca">
                                <p class="leading-none">Definir esse endereço como endereço de cobrança.</p>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="container">
                </div>

                <div class="flex flex-wrap ">
                    <div class="md:w-full px-4">
                        <div class="flex gap-3">
                            <div class="single-form button">
                                <button type="button" id="novo-endereco"
                                        class="btn btn-alt !w-fit !flex !text-gray-800 hover:!text-white">
                                    Adicionar
                                    outro endereço
                                </button>
                            </div>

                            <div class="single-form button">
                                <button type="button" data-action="next" data-index="2" class="btn !w-fit !flex !text-gray-800 hover:!text-white">
                                    Próxima
                                    Etapa
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse bg-white border border-gray-300 !rounded-[5px]">
            <input autocomplete="off" type="radio" name="accordion" />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Informações de pagamento
            </div>
            <div class="collapse-content">
                <div>
                    <div class="flex flex-wrap -mx-3" id="container-cartao">
                        <div data-target="removible" class="px-3 w-1/2">
                            @(await Component.InvokeAsync<CartaoViewComponent>(new ViewCartao(0)))
                        </div>
                    </div>

                    <div class="flex flex-wrap ">
                        <div class="md:w-full">
                            <div class="flex gap-3">
                                <div class="single-form button">
                                    <button type="button" id="novo-cartao" class="btn btn-alt !w-fit !flex !text-gray-800 hover:!text-white">
                                        Adicionar
                                        Cartão
                                    </button>
                                </div>

                                <div class="single-form button">
                                    <button type="button" id="conditional-next-step" data-action="next" data-index="3" class="btn !w-fit !flex !text-gray-800 hover:!text-white">
                                        Próxima
                                        Etapa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse bg-white border border-gray-300 !rounded-[5px]">
            <input autocomplete="off" type="radio" name="accordion" />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Endereço de Cobrança
            </div>
            <div class="collapse-content">
                <div id="item-cobranca">
                    <input autocomplete="off" type="hidden" name="adresses[1].principal" value="false">
                    <input autocomplete="off" type="hidden" name="adresses[1].cobranca" value="true">
                    <input autocomplete="off" type="hidden" name="adresses[1].tipoEndereco" value="-">

                    @(await Component.InvokeAsync<EnderecoViewComponent>(new ViewEndereco(1)))

                    <div class="flex flex-wrap ">
                        <div class="md:w-full px-4">
                            <div class="flex gap-3">
                                <div class="single-form button">
                                    <button type="button" data-action="next" data-index="4"
                                            class="btn !w-fit !flex !text-gray-800 hover:!text-white">
                                        Próxima
                                        Etapa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse bg-white border border-gray-300 !rounded-[5px]">
            <input autocomplete="off" type="radio" name="accordion" />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Informações de acesso
            </div>
            <div class="collapse-content">
                <div>
                    <div class="flex flex-wrap ">
                        <div class="md:w-full px-4">
                            <div class="single-form form-default">
                                <label>E-mail</label>
                                <div class="before:!hidden after:!hidden tooltip !w-full tooltip-error before:!text-red-200" data-tip="Informe um email para acesso a conta.">
                                    <div class="form-input form">
                                        <input autocomplete="off" required name="client.email" type="text" placeholder="Endereço de email">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="md:w-1/2 px-4">
                            <div class="single-form form-default">
                                <label>Senha</label>
                                <div class="before:!hidden after:!hidden tooltip !w-full tooltip-error before:!text-red-200" data-tip="Sua senha precisa de pelo menos 8 caracteres, uma letra maiuscula e uma minúscula e conter pelo menos um caractere especial.">
                                    <div class="form-input form relative">
                                        <input autocomplete="off" required name="client.senha" type="password" placeholder="Ex.: ******">
                                        <button tabindex="-1" data-click="eye" type="button" class="my-auto absolute right-2 inset-y-0 btn btn-square btn-sm"><i class="fa-solid fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="md:w-1/2 px-4">
                            <div class="single-form form-default">
                                <label>Confirmar Senha</label>
                                <div class="before:!hidden after:!hidden tooltip !w-full tooltip-error before:!text-red-200" data-tip="As senhas não conferem.">
                                    <div class="form-input form relative">
                                        <input autocomplete="off" required name="client.confirmaSenha" type="password" placeholder="Ex.: ******">
                                        <button tabindex="-1" data-click="eye" type="button" class="my-auto absolute right-2 inset-y-0 btn btn-square btn-sm"><i class="fa-solid fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-wrap ">
                        <div class="md:w-full px-4">
                            <div class="flex gap-3">
                                <div class="single-form button">
                                    <button type="submit" id="submit"
                                            class="btn btn-alt !w-fit !flex !text-gray-800 hover:!text-white">
                                        Cadastrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/Client/Cadastro.js" asp-append-version="true"></script>
}