@model PedidosView

@{
    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Pedidos";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Perfil", "../", "fa-solid fa-user"),
        new BreadcrumbsDTO("Meus Pedidos")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="container px-5 mx-auto">
    <div class="card bg-base-200 border shadow-sm my-10">
        <div class="card-body">
            <div class="leading-3 mb-5">
                <h2 class="card-title">Seus pedidos!</h2>
                <p>Lista com seus pedidos, já finalizados e em processamento.</p>
            </div>

            <div class="flex flex-wrap">
                @foreach (var Items in Model.TransacoesDatas)
                {
                    <div class="w-full mb-6">
                        <h3 class="text-gra-900 text-2xl font-bold mb-3">@Items.Criacao.ToString("dd MMMM yyyy")</h3>

                        <hr class="mb-8 mt-4">

                        <div class="flex flex-wrap -mx-3 w-full">
                            @*<div class="bg-white p-6 rounded-lg shadow-lg max-w-md">
                                    <div class="flex items-center justify-between mb-4">
                                        <h2 class="text-lg font-bold text-gray-800">Número do Pedido: 12345</h2>
                                        <span class="bg-yellow-400 text-white text-xs font-semibold px-2 py-1 rounded-full">Em Processamento</span>
                                    </div>
                                    <div class="flex flex-col space-y-2">
                                        <div class="flex justify-between items-center">
                                            <p class="text-gray-600">Status de Pagamento:</p>
                                            <span class="text-green-500 font-semibold">Pago</span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <p class="text-gray-600">Valor Total:</p>
                                            <span class="text-purple-600 font-semibold">R$ 150,00</span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <p class="text-gray-600">Valor de Frete:</p>
                                            <span class="text-purple-600 font-semibold">R$ 15,00</span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <p class="text-gray-600">Valor de Desconto:</p>
                                            <span class="text-red-500 font-semibold">-R$ 10,00</span>
                                        </div>
                                    </div>
                                </div>*@

                            @foreach (var pedido in Model.GetPedidos(Items.Criacao, Model.Cliente.IdCliente))
                            {
                                <div class="w-1/3 px-3 mb-5">
                                    <a asp-controller="Client" asp-action="Pedido" asp-route-codigo="@Model.Cliente.Codigo"
                                       asp-route-pedido="@pedido.IdTransacao"
                                       class="hover:scale-[0.99] border bg-white p-4 rounded-lg shadow-md">
                                        <div class="flex items-center justify-between mb-4">
                                            <div class="flex items-center mr-4">
                                                <div style="background-color: @(pedido.Cor)" class="rounded-full h-8 w-8 flex items-center justify-center"></div>
                                                <div class="ml-4">
                                                    <small class="block">Status do pedido</small>
                                                    <span class="block text-gray-700 text-sm leading-4 w-[220px]">
                                                        <span style="color: @(pedido.Cor)" class="font-bold truncate w-full block">
                                                            @pedido.Etapa
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <span class="text-gray-400 text-xs uppercase">
                                                @if (pedido.Quantidade > 1)
                                                {
                                                    <span>@pedido.Quantidade itens</span>
                                                }
                                                else
                                                {
                                                    <span>@pedido.Quantidade item</span>
                                                }
                                            </span>
                                        </div>
                                        <p class="text-gray-800 text-xl">
                                            <span class="text-sm font-semibold">Nº pedido</span>&ensp;<span class="font-bold">#@pedido.Codigo</span>,
                                            <small>status de pagamento - </small>
                                            <span class="italic @(pedido.Pagamento == "APROVADO" ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800") rounded-lg px-2 py-1 text-xs font-bold">
                                                @pedido.Pagamento
                                            </span>
                                            <div class="flex justify-between items-end mt-3">
                                                <div class="flex flex-col">
                                                    <span>Desconto: @pedido.Descontos.ToString("C")</span>
                                                    <span class="text-gray-800 font-bold">Total: @pedido.Total.ToString("C")</span>
                                                </div>

                                                <span>Frete: @pedido.Frete.ToString("C")</span>
                                            </div>

                                            <div class='mt-3 flex @(pedido.Etapa == "CANCELADO" ? "grayscale": "")'>
                                                @foreach (var imagem in Model.GetProdutos(pedido.IdTransacao))
                                                {
                                                    <img class='w-1/4 px-2'
                                                         src="@imagem.ImageSource" alt="">
                                                }
                                            </div>
                                        </p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>