@model ViewProdutosFavorites

<div class="cart-list-head mx-4">

    <div class="cart-list-title">
        <div class="flex flex-wrap ">
            <div class="lg:w-1/12 md:w-1/12 px-4 w-full"></div>
            <div class="lg:w-4/12 md:w-3/12 px-4 w-full">
                <strong>Nome do Produto</strong>
            </div>
            <div class="lg:w-2/12 md:w-2/12 px-4 w-full">
                <strong>Subtotal</strong>
            </div>
            <div class="ml-auto lg:w-1/12 md:w-2/12 px-4 w-full">
                <strong>Remover</strong>
            </div>
            <div class="lg:w-2/12 md:w-2/12 px-4 w-full">
                <strong>Adicionar ao Carrinho</strong>
            </div>
        </div>
    </div>

    @if (Model.Products == null)
    {
        <div role="alert" class="alert rounded-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span>Nenhum item foi adicionado a lista de favoritos.</span>
        </div>
    }
    else
    {
        @foreach (var Item in Model.Products)
        {
            <div class="cart-single-list">
                <div class="flex flex-wrap  items-center">
                    <div class="lg:w-1/12 md:w-1/12 px-4 w-full">
                        <a asp-action="Index"
                           asp-controller="ShopSingle"
                           asp-route-categoria="@Item.TipoProduto.ToLower()"
                           asp-route-subcategoria="@Item.Subcategoria.ToLower()"
                           asp-route-idproduto="@Item.IdProduto"><img src="@Item.ImageSource" alt="..."></a>
                    </div>
                    <div class="lg:w-4/12 md:w-3/12 px-4 w-full">
                        <h5 class="product-name">
                            <a asp-action="Index"
                               asp-controller="ShopSingle"
                               asp-route-categoria="@Item.TipoProduto.ToLower()"
                               asp-route-subcategoria="@Item.Subcategoria.ToLower()"
                               asp-route-idproduto="@Item.IdProduto">
                                @Item.Nome
                            </a>
                        </h5>
                        <p class="product-des">
                            <span>@Item.Subcategoria.Capitalize(), @Item.TipoProduto.Capitalize(), @Item.Cor.Capitalize(), @Item.Marca.Capitalize()</span>
                            <span><em>Cor:</em> @Item.Cor.Capitalize()</span>
                        </p>
                    </div>
                    <div class="lg:w-2/12 md:w-2/12 px-4 w-full">
                        <p>@Item.Preco.ToString("C")</p>
                    </div>
                    <div class="ml-auto lg:w-1/12 md:w-2/12 px-4 w-full">
                        <a class="remove-item" data-action="favoritos" data-id-produto="@Item.IdProduto"><i class="fa-light fa-xmark"></i></a>
                    </div>
                    <div class="lg:w-2/12 md:w-2/12 px-4 w-full">
                        <a data-action="carrinho" data-id-produto="@Item.IdProduto" class="btn btn-sm text-white bg-[#130235] hover:!bg-[#ffcc00] hover:!text-gray-800 !rounded-[5px] flex"><i class="fa-light fa-cart-circle-plus text-sm"></i> Carrinho</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
