@model ClientDTO

@{
    var url = Context.Request.RouteValues;
    var codigo = url["Codigo"].ToString();

    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Cliente";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Perfil", Url.Action("Perfil", "Client", new{ codigo }), "fa-solid fa-user"),
        new BreadcrumbsDTO("Dados cadastrais")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="my-10 mx-auto px-5 container">

    <div class="my-5">
        <div class="flex flex-wrap gap-5 button">
            <button data-id-cliente="@Model.Client.IdCliente" id="acicionar-endereco" class="btn !text-gray-800 hover:!text-white">Adicionar endereço</button>
            <button data-id-cliente="@Model.Client.IdCliente" id="acicionar-cartao" class="btn btn-alt">Aicionar cartão</button>
        </div>
    </div>

    <div class="space-y-5">
        <div class="collapse bg-base-200 border border-gray-300 !rounded-[5px]">
            <input type="checkbox" checked />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Informações Pessoais
            </div>
            <div class="collapse-content">
                <div class="py-10">
                    <button data-id-cliente="@Model.Client.IdCliente" data-action="altera-cliente" class="btn btn-sm btn-square btn-warning float-right text-base -mt-6"><i class="fa-regular fa-pen-to-square"></i></button>

                    <div class="flex flex-wrap mt-4">
                        <label class="form-control mb-3.5 px-3 w-2/3">
                            <span class="label pb-0">
                                <span class="label-text-alt">Nome completo</span>
                            </span>
                            <input readonly value="@((Model.Client.Nome + " " + Model.Client.Sobrenome).Capitalize())" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/3">
                            <span class="label pb-0">
                                <span class="label-text-alt">Email</span>
                            </span>
                            <input readonly value="@Model.Client.Email" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/4">
                            <span class="label pb-0">
                                <span class="label-text-alt">CPF (Cadastro de Pessoas Físicas)</span>
                            </span>
                            <input readonly value="@Model.Client.CPF" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/4">
                            <span class="label pb-0">
                                <span class="label-text-alt">RG (Registro Geral)</span>
                            </span>
                            <input readonly value="@Model.Client.RG" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/4">
                            <span class="label pb-0">
                                <span class="label-text-alt">Data nascimento</span>
                            </span>
                            <input readonly value='@Model.Client.DataNascimento.ToString("dd/MM/yyyyy")' type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/4">
                            <span class="label pb-0">
                                <span class="label-text-alt">Gênero</span>
                            </span>
                            <input readonly value='@Model.Client.Genero.Capitalize()' type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/3">
                            <span class="label pb-0">
                                <span class="label-text-alt">Celular</span>
                            </span>
                            <input readonly value="@Model.Client.Celular" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <label class="form-control mb-3.5 px-3 w-1/3">
                            <span class="label pb-0">
                                <span class="label-text-alt">Telefone (fixo)</span>
                            </span>
                            <input readonly value="@Model.Client.Telefone" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                        </label>

                        <div class="form-control mb-3.5 px-3 w-1/3 justify-end button">
                            <button data-id-usuario="@Model.Client.IdUsuario" id="trocar-senha-cliente" class="btn !w-fit !flex !text-gray-800 hover:!text-white">Trocar Senha</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse bg-base-200 border border-gray-300 !rounded-[5px]">
            <input type="checkbox" checked />
            <div class="collapse-title text-xl font-medium bg-[#130235]">
                Endereços
            </div>
            <div class="collapse-content">
                <div class="py-5">
                    <div class="space-y-5 mt-5">
                        @foreach (var (address, index) in Model.Adresses.Select((address, index) => (address, index)))
                        {
                            <div class="flex items-center gap-5 w-full">
                                <div class="whitespace-nowrap font-bold text-gray-800 text-lg">@address.NomeEndereco</div> <hr class="w-full">

                                <div class="flex gap-2">
                                    @if (index > 0)
                                    {
                                        <button data-action="remove-endereco" data-id-endereco="@address.IdEndereco" class="btn btn-sm btn-square btn-error text-base !text-white"><i class="fa-solid fa-trash"></i></button>
                                    }
                                    <button data-action="edita-endereco" data-id-endereco="@address.IdEndereco" class="btn btn-sm btn-square btn-warning text-base"><i class="fa-regular fa-pen-to-square"></i></button>
                                </div>
                            </div>

                            <div class="flex gap-5 px-3">
                                <button class="btn bg-white pointer-events-none">
                                    Principal
                                    <div class="badge @(address.Principal ? "badge-secondary" : "badge-neutral")">@(address.Principal ? "Sim" : "Não")</div>
                                </button>
                                <button class="btn bg-white pointer-events-none">
                                    Cobrança
                                    <div class="badge @(address.Cobranca ? "badge-secondary" : "badge-neutral")">@(address.Cobranca ? "Sim" : "Não")</div>
                                </button>
                            </div>

                            <div class="flex flex-wrap mt-4">
                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">CEP</span>
                                    </span>
                                    <input readonly value="@address.CEP" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/4">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Tipo Logradouro</span>
                                    </span>
                                    <input readonly value="@address.TipoLogradouro.Capitalize()" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/4">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Tipo Residência</span>
                                    </span>
                                    <input readonly value="@address.TipoResidencia.Capitalize()" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Número</span>
                                    </span>
                                    <input readonly value="@address.Numero" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Estado</span>
                                    </span>
                                    <input readonly value="@address.Estado" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-4/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Logradouro</span>
                                    </span>
                                    <input readonly value="@address.Logradouro" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-2/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Bairro</span>
                                    </span>
                                    <input readonly value="@address.Bairro" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/4">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Cidade</span>
                                    </span>
                                    <input readonly value="@address.Cidade" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/4">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Pais</span>
                                    </span>
                                    <input readonly value="@address.Pais" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-2/4">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Complemento</span>
                                    </span>
                                    <input readonly value="@address.Complemento" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-full">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Observação</span>
                                    </span>
                                    <input readonly value="@address.Frase" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none italic" />
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse bg-base-200 border border-gray-300 !rounded-[5px]">
            <input type="checkbox" checked />
            <div class="collapse-title text-base font-medium bg-[#130235]">
                Formas de pagamento
            </div>
            <div class="collapse-content">
                <div class="py-5">
                    <div class="space-y-5 mt-5">
                        @foreach (var (card, index) in Model.Cards.Select((card, index) => (card, index)))
                        {
                            <div class="flex items-center gap-5 w-full">
                                <div class="whitespace-nowrap font-bold text-gray-800 text-lg">@card.NomeCartao</div> <hr class="w-full">

                                @if (Model.Cards.Count > 1)
                                {
                                    <button data-id-cartao="@card.IdCartao" class="btn btn-sm btn-square btn-error text-base text-white"><i class="fa-solid fa-trash"></i></button>
                                }
                            </div>

                            <div class="flex gap-5 px-3">
                                <button class="btn bg-white pointer-events-none">
                                    Principal
                                    <div class="badge @(card.Principal ? "badge-secondary" : "badge-neutral")">@(card.Principal ? "Sim" : "Não")</div>
                                </button>
                            </div>

                            <div class="flex flex-wrap mt-4">
                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Bandeira do cartão</span>
                                    </span>
                                    <input readonly value="@card.NomeBandeira.Capitalize()" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-2/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Nome titular</span>
                                    </span>
                                    <input readonly value="@card.NomeTitular" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">CPF titular</span>
                                    </span>
                                    <input readonly value="@card.CPFTitular" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Número cartão</span>
                                    </span>
                                    <input readonly value="*** *** *** @card.Numero.Split(' ')[3]" type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>

                                <label class="form-control mb-3.5 px-3 w-1/6">
                                    <span class="label pb-0">
                                        <span class="label-text-alt">Data validade</span>
                                    </span>
                                    <input readonly value='@card.DataValidade.Split("-")[1]/@card.DataValidade.Split("-")[0]' type="text" class="text-lg text-gray-800 input border border-gray-300 focus:outline-none" />
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Client/Cliente.js" asp-append-version="true"></script>
}