@model ViewKeepShopping

<section class="trending-product section">
    <div class="container mx-auto sm:px-4">
        <div class="flex flex-wrap ">
            <div class="w-full">
                <div class="section-title">
                    <h2>Continue Comprando</h2>
                    <p>Garanta já o seu exemplar e esteja sempre sintonizado com o que há de mais atual na música!.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap ">
            @foreach (var Item in Model.Products)
            {
                <div class="lg:w-1/4 px-4 md:w-1/2 w-full">

                    <div class="single-product">
                        <div class="product-image">
                            <img src="@Item.ImageSource" alt="...">
                            <span class="holder">
                                @if (Item.Tipo != "")
                                {
                                    <span class="new-tag">@Item.Tipo.Capitalize()</span>
                                }

                                @if (Item.Desconto)
                                {
                                    <span class="sale-tag">-@Item.QntDesconto%</span>
                                }
                            </span>

                            <div class="button flex gap-1">
                                <a asp-action="Index" asp-controller="Cart" asp-route-id-produto="@Item.IdProduto" class="btn !bg-[#130235] !text-white !flex !itens-center hover:!bg-[#372853]"><i class="fa-light fa-cart-circle-plus text-sm"></i> Carrinho</a>
                                <a data-action="favoritos" data-favorito="false" data-id-produto="@Item.IdProduto" class="btn !w-fit !flex !itens-center"><i class="fa-solid fa-heart text-sm"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">@Item.Subcategoria.Capitalize(), @Item.TipoProduto.Capitalize(), @Item.Cor.Capitalize(), @Item.Marca.Capitalize()</span>
                            <h4 class="title">
                                <a asp-action="Index" asp-controller="ShopSingle"
                                   asp-route-categoria="@Item.TipoProduto.ToLower()"
                                   asp-route-subcategoria="@Item.Subcategoria.ToLower()"
                                   asp-route-idproduto="@Item.IdProduto">@Item.Nome.Capitalize()</a>
                            </h4>
                            <ul class="review">
                                @for (var i = 1; i < 5; i++)
                                {
                                    if (i <= Item.Nota)
                                    {
                                        <li><i class="fa-solid fa-star"></i></li>
                                    }
                                    else
                                    {
                                        <li><i class="fa-light fa-star"></i></li>
                                    }
                                }
                                <li><span>@Item.QntAvaliacoes Review(s)</span></li>
                            </ul>
                            <div class="price">
                                @if (Item.Desconto)
                                {
                                    @Item.CalculoDesconto.ToString("C")
                                    <span class="discount-price">@Item.Preco.ToString("C")</span>
                                }
                                else
                                {
                                    @Item.Preco.ToString("C")
                                }
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>