@model ViewCartoes

@foreach (var Cartao in Model.Cartoes)
{
<label style="background: @Cartao.Cor"
    class="item-cartao cursor-pointer !flex items-end relative max-w-[270px] max-h-[160px]  min-w-[270px] min-h-[160px] rounded-xl shadow-lg p-6">
    <input type="checkbox" name="cartaoPagamento" value="@Cartao.IdCartao"
        class="radio border-[4px] cartao-checkbox checked:border checked:radio-warning absolute top-4">
    <div class="absolute top-4 right-4">
        <img src="@Model.ImageSource(Cartao.Imagem)" alt="" class="h-[27px]">
    </div>
    <div class="text-white text-left w-full">
        <div class="text-[15px] font-semibold tracking-wider mb-2">
            *** *** *** @Cartao.Numero.Split(' ')[3]
        </div>
        <div class="flex justify-between text-[15px] mb-1">
            <div>
                @Cartao.DataValidade.Split("-")[1]/@Cartao.DataValidade.Split("-")[0]
            </div>
            <div>***</div>
        </div>
        <div class="truncate text-sm font-bold uppercase">
            @Cartao.NomeTitular.Capitalize()
        </div>
    </div>
</label>
}