@model ProdutoView

@{
    ViewBreadcrumbs breadcrumbs = new();
    breadcrumbs.Title = "Produto";
    breadcrumbs.Breadcrumbs = new BreadcrumbsDTO[]{
        new BreadcrumbsDTO("Início", "/", "fa-solid fa-house"),
        new BreadcrumbsDTO("Produtos", "../"),
        new BreadcrumbsDTO("Detalhes")
    };

    ViewData["Title"] = breadcrumbs.Title;
}

@(await Component.InvokeAsync<BreadcrumbsViewComponent>(breadcrumbs))

<div class="max-w-[1030px] mx-auto my-10 flex gap-5 justify-center">

    <div class="w-5/12 bg-white p-6 rounded-lg shadow">
        <img src='@Model.Imagens.Where((Item) => (Item.NomeImagem == "COVER")).FirstOrDefault().ImageSource' alt=""
             class="w-full mb-4 rounded">
        <div class="flex -mx-2">
            @foreach (var Imagem in Model.Imagens.Where((Item) => (Item.NomeImagem != "COVER")))
            {
                <img src="@Imagem.ImageSource" class="w-1/4 px-2 rounded" alt="...">
            }
        </div>
    </div>

    <div class="w-6/12 bg-white p-6 rounded-lg shadow">

        <div class="flex flex-wrap justify-between items-center mb-2">
            <p class="text-gray-600 w-full">
                @Model.Produto.Subcategoria, @Model.Produto.TipoProduto,
                @Model.Produto.Cor, @Model.Produto.Marca
            </p>
            <div class="flex gap-4 justify-between items-center w-full">
                <h1 class="text-2xl font-bold w-full">@Model.Produto.Nome.Capitalize()</h1>
                <button class="text-primary text-2xl">
                    <i class="fa-regular fa-heart"></i>
                </button>
            </div>
        </div>

        <div class="flex items-center mb-4">
            <div class="text-yellow-500 text-base mr-2 flex gap-2">
                @for (var i = 0; i < 5; i++)
                {
                    if (i <= Model.Produto.Nota)
                    {<i class="fa-solid fa-star"></i>
                    }
                    else
                    {
                        <i class="fa-light fa-star"></i>
                    }
                }
            </div>
            <span class="text-gray-600 leading-none text-base">@Model.Produto.QntAvaliacoes Review(s)</span>
        </div>

        <p class="text-primary mb-4 font-bold text-3xl">
            @if (Model.Produto.Desconto)
            {
                @Model.Produto.CalculoDesconto.ToString("C")
                <span class="block line-through text-gray-500 text-lg font-semibold">
                    @Model.Produto.Preco.ToString("C")
                </span>
            }
            else
            {
                @Model.Produto.Preco.ToString("C")
            }
        </p>
        <p class="text-gray-700 mb-4">
            @Model.Produto.Descricao
        </p>


        <p class="text-gray-700 mb-4">Quantidade disponivel em estoque: @Model.Produto.Saldo</p>
        <div class="flex items-center mb-4">
            <label for="quantity" class="mr-2">Quantidade:</label>
            <select id="quantity" class="p-2 border rounded-lg">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <a asp-action="Index" asp-controller="Checkout"
           asp-route-rota="produto" asp-route-idproduto="@Model.Produto.IdProduto"asp-route-quantidade="1" class="w-full btn btn-primary mb-2">Comprar</a>
        <a class="w-full btn btn-warning">Adicionar ao Carrinho <i class="fa-solid fa-cart-shopping"></i></a>
    </div>

</div>

<div class="max-w-[1250px] mx-auto">
    @(await Component.InvokeAsync<ProductListViewComponent>())
    @(await Component.InvokeAsync<KeepShoppingViewComponent>())
    @(await Component.InvokeAsync<KeepShoppingInfoViewComponent>())
</div>