@model ViewProdutosCart

<div class="flex flex-wrap mx-4 mt-5">
    <div class="w-full">

        <div class="card bg-base-100 border rounded-[5px]">

            <div class="card-body">
                <h2 class="card-title !text-sm">Produtos</h2>

                <div>
                    @if (Model.Products == null)
                    {
                        <div role="alert" class="alert rounded-none">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                            <span>Nenhum item foi adicionado ao carrinho.</span>
                        </div>
                    }
                    else
                    {
                        <table class="table table-zebra border">
                            <thead>
                                <tr class="bg-purple-800 text-white">
                                    <th>Item</th>
                                    <th>Nome do Produto</th>
                                    <th>Quantidade</th>
                                    <th>Subtotal</th>
                                    <th>Desconto</th>
                                    <th>Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Item in Model.Products)
                                {

                                    <tr>
                                        <td>
                                            <a asp-action="Index"
                                               asp-controller="ShopSingle"
                                               asp-route-categoria="@Item.TipoProduto.ToLower()"
                                               asp-route-subcategoria="@Item.Subcategoria.ToLower()"
                                               asp-route-idproduto="@Item.IdProduto">
                                                <img src="@Item.ImageSource" class="w-14" alt="...">
                                            </a>
                                        </td>
                                        <td>
                                            <h5 class="product-name">
                                                <a asp-action="Index"
                                                   asp-controller="ShopSingle"
                                                   asp-route-categoria="@Item.TipoProduto.ToLower()"
                                                   asp-route-subcategoria="@Item.Subcategoria.ToLower()"
                                                   asp-route-idproduto="@Item.IdProduto">
                                                    @Item.Nome
                                                </a>
                                            </h5>
                                            <p class="product-des">
                                                <span>@Item.Subcategoria.Capitalize(), @Item.TipoProduto.Capitalize(), @Item.Cor.Capitalize(), @Item.Marca.Capitalize()</span>
                                                <span><em>Cor:</em> @Item.Cor.Capitalize()</span>
                                            </p>
                                        </td>
                                        <td>
                                            <div class="count-input flex">
                                                <button class="button-qnt" data-id-produto="@Item.IdProduto" data-operador="menos"><i class="fa-solid fa-minus"></i></button>
                                                <input autocomplete="off" type="text" value="@Item.QntCompra"
                                                       class="input-qnt !w-[65px] !mx-2" />
                                                <button class="button-qnt" data-id-produto="@Item.IdProduto" data-operador="mais"><i class="fa-solid fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <p preco-unitario="@Item.IdProduto">@((Item.QntCompra * Item.Preco).ToString("C"))</p>
                                        </td>
                                        <td>
                                            @if (Item.Desconto)
                                            {
                                                @Item.CalculoDesconto.ToString("C")
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                        <td>
                                            <a data-id-produto="@Item.IdProduto" class="remove-item-carrinho btn btn-error btn-sm btn-square text-white"><i class="fa-light fa-xmark"></i></a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                </div>

                <div class="total-amount">
                    <div class="flex flex-wrap ">
                        <div class="lg:w-8/12 md:w-6/12 w-full">
                            <div class="left">

                                <div class="coupon">
                                    <form class="flex">
                                        <input autocomplete="off" type="text" name="frete"
                                               placeholder="Insira seu CEP" data-mask="00000-000">
                                        <div class="button">
                                            <button type="button" data-action='@(Model.Products == null ? "" : "frete")' class="!top-0 btn !flex !text-gray-800 hover:!text-white !w-fit !min-h-0">
                                                Cálcular frete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="lg:w-4/12 md:w-6/12 px-4 w-full">
                            <div class="right">
                                @if (Model.Products == null)
                                {
                                    <ul>
                                        <li>Subtotal do carrinho<span>R$ 0,00</span></li>
                                        <li>Frete<span>R$ 0,00</span></li>
                                        <li>Descontos<span>R$ 0,00</span></li>
                                        <li class="last">Total a pagar<span>R$ 0,00</span></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        <li>Subtotal do carrinho<span menu-total-amount>@Model.Products.Sum(x => x.QntCompra * x.Preco).ToString("C")</span></li>
                                        <li>Frete<span valor-frete>R$ 0,00</span></li>
                                        <li>Descontos<span total-descontos>@Model.Products.Where(x => x.Desconto).Sum(y => y.CalculoDesconto).ToString("C")</span></li>
                                        <li>Cupons<span total-descontos>@Model.Products.Where(x => x.Desconto).Sum(y => y.CalculoDesconto).ToString("C")</span></li>
                                        <li class="last">Total a pagar<span total-compra>@((Model.Products.Sum(x => x.QntCompra * x.Preco) - Model.Products.Where(x => x.Desconto).Sum(y => y.CalculoDesconto)).ToString("C"))</span></li>
                                    </ul>
                                }
                                <div class="button">
                                    <a asp-action="Index" asp-controller="Checkout" data-action="finalizar-carrinho"
                                       class='btn btn-alt !flex hover:!text-gray-800 !min-h-0 @(Model.Products == null ? "pointer-events-none" : "")'>Finalizar</a>
                                    <a asp-action="Index" asp-controller="Shop"
                                       class='@(Model.Products == null ? "pointer-events-none" : "") btn !bg-transparent !border-[#ffcc00] !border !border-solid !flex !text-[#ffcc00] hover:!text-gray-800 hover:!bg-[#ffcc00] !min-h-0'>
                                        Continue
                                        comprando
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>